<header class="{{homeHeader}} {{pageHeader}} flex ">
    <a href="/">
        <h1 class="animate__animated animate__fadeInBottomLeft {{homeRoastMe}} {{pageRoastMe}} pl-6 roast-me">Roast Me
        </h1>
    </a>

    <a href="/login" class="self-end">
        <nav class="animate__animated animate__fadeInBottomRight pr-6 log">Logout</nav>
    </a>
</header>

<div class="bg-green-50">
    <!--username will appear in welcome message once we have user model and route setup and working-->
    <h1 class="animate__animated animate__rollIn welcome p-8 text-center text-6xl text-green-600">Welcome
        {{user.username}}</h1>

    <div class="p-4 pb-10 flex justify-center">
        <a href="/blackboard">
            <button
                class="animate__animated animate__rotateIn visit-cafe-btn p-6 border-8 border-yellow-800 rounded-full bg-green-100 text-3xl hover:bg-green-200 transition duration-500 ease-in-out">Visit
                Cafe</button>
        </a>
    </div>
</div>

<div class="p-80 bg-purple-100">
    <ol class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
        </li>
        {{/each}}
    </ol>
</div>